<!-- views/layout.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/server-styles.css"> <!-- Link to your CSS file -->
  <title><%= title %></title>
</head>
<body>
  <div class="container">
    <!-- This is where the specific page content will be injected -->
    <%- content %>
  </div>
</body>
</html>
