<!-- views/success.ejs -->
<%- include('layout', { title: 'Success', content: 'success' }) %>
  <div class="server-message">
    <h1><%= title %></h1>
    <p><%= message %></p>
    <p>Go to <a href="https://connect-four-pz-designs.onrender.com">Log in and play</a>.</p>
  </div>
</html>
