<!-- views/success.ejs -->
<%- include('layout', { message: 'Email verification successful!', content: 'success' }) %>
  <div class="server-message">
    <p><%= message %></p>
    <p><a href="https://connect-four-pz-designs.onrender.com">Log in and play</a>.</p>
  </div>
</html>
