<!-- views/success.ejs -->
<%- include('layout', {  content: 'success' }) %>
  <div class="server-message">
    <p>Email verification successful!</p>
    <p><a href="https://connect-four-pz-designs.onrender.com">Log in and play</a>.</p>
  </div>
</html>
